// 居中对齐
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-align-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-align-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-start-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flx-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flx-justify-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flx-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flx-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.flx-align-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* 清除浮动 */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自动換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

.width-100 {
  width: 100%;
}

.mgt-5 {
  margin-top: 5px;
}

.mgt-20 {
  margin-top: 20px;
}

.gap-1 {
  gap: 1px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.flex-1 {
  flex: 1;
}

