.filled-text {
  font-size: 1rem;
  line-height: 1rem;
  color: #2a2c32;
}

.placeholder-text {
  font-size: 1rem;
  line-height: 1rem;
  color: #8b8e98;
}

.title-opacity {
  opacity: 80%;
}

.font-xs {
  /* 12px */
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.font-sm {
  /* 14px */
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.font-base {
  /* 16px */
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}

.font-lg {
  /* 18px */
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.font-xl {
  /* 20px */
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.font-2xl {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.font-3xl {
  /* 28px */
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.font-bold {
  font-weight: bold;
}

.color-183 {
  color: #183C3A;
}

.color-000 {
  color: #000000;
}

.color-666 {
  color: #666966;
}

.color-989 {
  color: #989B98;
}

.color-E5E {
  color: #E5E5E5;
}

.color-0AC {
  color: #0ACB79;
}

.color-1A1 {
  color: #1A1A1A;
}

.color-1F2 {
  color: #1F2023;
}

.color-272 {
  color: #27292D;
}

.color-393 {
  color: #393B40;
}
