.icon-add-circle {
  width: 200rpx;
  height: 48px;
  border-radius: 12px;
  background-size: 100%;
  background-color: #C2EBE5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
