.menu-button {
  position: fixed;
  top: 0;
  z-index: 10;
  padding-top: var(--pdt, 0);
  width: 100%;
  height: var(--height, 0);
}

.toggle-on {
  background: #FFFFFF;
  color: #ffffff;
}

.toggle-off {
  color: white;
}

.home-page {
  min-height: 100vh;
  background: #FFFFFF;
  padding: 15px 12px env(safe-area-inset-bottom) 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .home-banner {
    margin-top: var(--mgt, 0);
    width: 100%;
    border-radius: 8px;
    z-index: 1;
  }
}

%base-page {
  min-height: 100vh;
  background: #f2f2f2;
  padding: 15px 12px env(safe-area-inset-bottom) 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page {
  @extend %base-page
}

.index-page {
  @extend %base-page;
  padding-top: 0;

  .park-score-pdt {
    padding-top: 15px;
  }

  .park-work-pdt {
    padding-top: 15px;
  }

  %base-bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 150px;
    background: #3875f6;
    border-radius: 0 0 10% 10%;
  }

  .bg {
    @extend %base-bg
  }

  .park-bg {
    @extend %base-bg;
    height: 85px;
  }

  .company-closure-bg {
    @extend %base-bg;
    height: 218px;
  }
}

.detail-page {
  @extend %base-page;
  padding: 15px 12px;
  min-height: 0;
}

.display-card-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-bg {
  background: linear-gradient(135deg, #38A9ED 0%, #634CF6 100%);
}

.flex-centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
}
